@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
    height: 100vh;
    width: 100vw;
    padding: 5px;
    }

    .scene{
        width: 100%;
        height: 100%;
        background-image: url(/Users/shab/Desktop/webdevbath/Week3/spacemanchallenge/background.png);
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    .scene img{
        position: absolute;
    }
    .moon{
        bottom: -50px;
        right: -40px;
        width: 400px;
        animation: moon-spin 0.5s infinite linear;
    }
    .astronaut{
        top: 200px;
        right: 30px;
        width: 200px;
        animation: moon-spin 1s forwards infinite;
    }
    .stars{
        height: 100%;
        width: 100%;
        object-fit: cover;
        animation: stars-rotate 50s infinite forwards;
    }
    .ship{
        top: 60px;
        left: 30%;
        width: 150px;
        transform: scale(0);
        animation: ship-move 10s forwards infinite;
    }

    @keyframes astronaut-move{
        to{
            transform:
            translate(-300px, -150px)rotate(360deg);
        }
    }
@keyframes moon-spin{
    to{
        transform: rotate(360deg);
    }
}
@keyframes stars-rotate{
    to{
        transform: rotate(360deg);
    }
}
@keyframes ship-move {
    
    25% {
        transform: scale(10.5)translate(-150px,-25px);
    }
    50% {
        transform: scale(2)translate(-250px,300px);
    }
    100% {
        transform: scale(4)translate(250px,300px);
    }
}